body {
    font-family: "Noto Sans Thai", serif;
}

.nav-item .nav-link {
    font-optical-sizing: auto;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    color: #3d4dd9;
    font-variation-settings:
        "wdth" 100;
}

.nav-link.active {
    background-color: #198754 !important;
    border-radius: 5px;
    /* เขียว Bootstrap */
    color: white !important;
}

.form-control::placeholder {
    color: #2fad3c;
    /* เปลี่ยนเป็นสีที่คุณต้องการ */
}

.form-select {
    color: #2fad3c;
}